@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

:root {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
}

header, footer, .welcome {
  background-color: #1f2937;
}

header, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  color: white;
}

header {
 justify-content: space-between;
 padding: 16px 10%;
}

footer {
  justify-content: center;
  padding: 30px;
}

.logo {
  font-size: 24px;
  color:#f9faf8;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color:#e5e7eb;
}

.welcome, main {
  flex-grow: 1;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  gap: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 auto;
}

button {
  background-color: #3882f6;
  padding: .5em 1.5em;
  border-radius: 8px;
  width: fit-content;
  font-size: 18px;
  color: #f9faf8;
}

.hero button {
  border: none;
}

.welcome img {
  flex-grow: 2;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 800;
  margin: 36px auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
}

.container img {
  border:2px solid #3882f6;
  border-radius: 8px;
}

figure {
  margin: 0;
  padding: 10px;
}

figcaption {
  text-align: center;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  width: 60%;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote figcaption {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.call-to-action {
  background-color: #3882f6;
  border-radius: 10px;
  margin: 50px 10%;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
}

.call-to-action h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.call-to-action p {
  margin: 0;
}

.call-to-action button {
  border: 2px solid #f9faf8;
}